<template>
  <svg
    class="w-full max-w-6xl mx-auto"
    viewBox="0 0 1006 671"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <StaticMap />
    <g v-if="main.inMenuPosition">
      <line
        :x1="main.inMenuPosition.x"
        :y1="main.inMenuPosition.y"
        :x2="main.inMenuPosition.x"
        :y2="main.inMenuPosition.y + 97"
        stroke="#2CC1D7"
      />
      <circle
        :cx="main.inMenuPosition.x"
        :cy="main.inMenuPosition.y"
        r="2.76221"
        fill="white"
        stroke="#2CC1D7"
      />
      <text
        :x="main.inMenuPosition.x + 16"
        :y="main.inMenuPosition.y + 16"
        fill="currentColor"
        class="text-lg text-black-550 z-50"
      >
        {{ main.countryName }}, {{ main.capital }}
      </text>
      <circle
        :cx="main.inMenuPosition.x"
        :cy="main.inMenuPosition.y + 97"
        r="2.76221"
        fill="white"
        stroke="#2CC1D7"
      />
      <line
        :x1="main.inMenuPosition.x"
        :y1="main.inMenuPosition.y + 99"
        :x2="main.position.x + 13"
        :y2="main.position.y + 25"
        stroke="#2CC1D7"
      />
    </g>
    <path
      v-for="connector in activeCountries"
      :key="connector.name"
      :d="getLine(connector)"
      class="stroke-1"
      stroke="#2CC1D7"
    />
    <slot></slot>
  </svg>
</template>

<script>
import StaticMap from "./StaticMap.vue";
export default {
  name: "InteractiveMap",
  components: { StaticMap },
  props: {
    main: {
      type: Object,
      default: () => {},
    },
    activeCountries: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    getLine(connector) {
      if (this.main === connector) return;
      const isLarger = connector.position.x > this.main.position.x;
      const pointOne = isLarger ? connector.position : this.main.position;
      const pointTwo = !isLarger ? connector.position : this.main.position;
      return `M${pointOne.x + 13},${pointOne.y + 25} Q${
        (pointTwo.x + pointOne.x) / 2
      },50 ${pointTwo.x + 13},${pointTwo.y + 25}`;
    },
  },
};
</script>

<style scoped></style>
