<template>
  <svg :x="position.x" :y="position.y">
    <g
      clip-path="url(#clip0)"
      :opacity="[main || active ? '1' : '0.15']"
      class="transition transform"
      :class="{ 'scale-125': main }"
    >
      <path
        class="origin-bottom"
        :d="`M9.90115 0.660889C4.6535 0.660889 0.400879 5.12744 0.400879 10.6376C0.400879 14.838 5.92274 24.5162 8.54629 28.8782C8.84009 29.3659 9.35216 29.6609 9.90171 29.6609C10.4513 29.6597 10.9622 29.3647 11.2555 28.877C13.8801 24.5139 19.4014 14.8374 19.4014 10.6376C19.4009 5.12744 15.1482 0.660889 9.90115 0.660889ZM9.90115 16.7278C6.93344 16.7278 4.52759 14.2022 4.52759 11.0854C4.52759 7.96921 6.93344 5.443 9.90115 5.443C12.8689 5.443 15.2747 7.96921 15.2747 11.0854C15.2742 14.2022 12.8683 16.7278 9.90115 16.7278Z`"
        :fill="[main ? '#1E3D71' : '#2CC1D7']"
      />
      <text
        v-show="active && !main && name !== ''"
        :x="20"
        :y="30"
        fill="currentColor"
        class="text-lg text-black-550 z-50"
      >
        {{ name }}
      </text>
    </g>
  </svg>
</template>

<script>
export default {
  name: "MarkerPin",
  props: {
    position: {
      type: Object,
      default: () => ({
        x: 50,
        y: 50,
      }),
    },
    active: {
      type: Boolean,
      default: false,
    },
    main: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped></style>
