<template>
  <div class="py-5">
    <div
      ref="parentRef"
      class="flex flex-row items-center justify-center flex-wrap w-full space-x-6 max-w-6xl mx-auto relative"
    >
      <div
        v-for="country in countriesList"
        :key="country.countryName"
        class="text-black-550 text-sm uppercase tracking-[-0.01em] py-2 cursor-pointer select-none"
        :class="{
          'font-bold text-blue-550 relative': country.main,
          underline: country.active && !country.main,
        }"
        @click="toggleCountry(country)"
      >
        <span
          v-if="country.main"
          ref="mainRef"
          class="absolute left-1/2"
        ></span>
        {{ country.countryName }}
      </div>
    </div>
    <interactive-map :main="mainCountry" :active-countries="activeCountryList">
      <marker-pin
        v-for="country in countriesList"
        :key="country.countryName"
        :position="country.position"
        :active="country.active"
        :name="`${country.countryName}, ${country.capital}`"
        :main="country.main"
      >
      </marker-pin>
    </interactive-map>
  </div>
</template>

<script lang="js">
import InteractiveMap from './components/InteractiveMap.vue';
import MarkerPin from './components/MarkerPin.vue';
export default {
  name: 'App',
  components: {
    'interactive-map': InteractiveMap,
    'marker-pin': MarkerPin
  },
  data() {
    return {
      countriesList: [

        {
        countryName: 'United States',
        capital: 'New York',
        position: {x: 270, y: 310},
        active: true
      },
        {
          countryName: 'Lithuania',
          capital: 'Vilnius',
          position: {x: 540, y: 240},
          active: true,
          main: true
        },
        {
          countryName: 'Australia',
          capital: 'Sydney',
          position: {x: 865, y: 510},
          active: false,
        },

        {
          countryName: 'China',
          capital: 'Hong Kong',
          position: {x: 780, y: 340},
          active: false
        },
      ]
    }
  },
  computed: {
    activeCountryList() {
      return this.countriesList.filter(country => country.active === true)
    },
    mainCountry() {
      return this.countriesList.filter(country => country.main === true)?.[0] || this.countriesList[0]
    }
  },
  mounted() {
    setTimeout(()=> {
      this.calculatePosition()
    }, 200)
  },
  methods: {
    toggleCountry(country) {
      country.active = !country.active
    },
    calculatePosition() {
      const parent = this.$refs.parentRef.getBoundingClientRect()
      const child = this.$refs.mainRef.getBoundingClientRect()
      const countryIndex = this.countriesList.findIndex(item => item.main)
      this.countriesList[countryIndex].inMenuPosition = {
              x: (child.left - parent.left) * (1006 / parent.width),
              y: this.$refs.mainRef.offsetTop
      }
    }
  }
}
</script>

<style lang="scss"></style>
